<!DOCTYPE html>
<html lang=“en”>

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

<body>
  <h2 style="color:cadetblue">TinyApp 🏖</h2>

  <% if(username) { %>
    <%= username %>
      <form method="POST" action="/logout">
        <button type="submit">Logout</button>
        </form>
        <% } else { %>
          <form method="POST" action="/login">
            <input type="text" name="username"></input>
            <button type="submit">Login</button>
          </form>
          <%  } %>
          
</body>
</html>
