<!DOCTYPE html>
<html lang=“en”>

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

<body>
  <h2 style="color:cadetblue">TinyApp 🏖</h2>

  <% if(user) { %>
    <div>Hello, <%= user.id %></div>
      <form method="POST" action="/logout">
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
        <p><form method="GET" action="/login">
          <button type="submit">Login</button>
          </form></p>
        <p><form method="GET" action="/register">
          <button type="submit">Register</button>
          </form></p>
        <%  } %>


</body>

</html>