<!DOCTYPE html>
<html lang=“en”>

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

<body>
  <%- include('partials/_header') %>
  <h2 style="color:khaki">ShortURL and LongURL</h2>
  <br/>
  <h4>ShortURL: <%= shortURL %></h4>
      
      <form method="POST" action="/urls/<%= shortURL %>">
        <label >Update longURL Here</label>
        <input type="text" name="longURL" placeholder="http://"></input>
        <button type="submit">Update</button>
      </form>

</body>

</html>